*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 0 30px;
    background: #2b2828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    height:40px ;
    width: 80px;
    border-radius: 10px;
}
.navbar>div{
    /* color: white; */
    font-size: 40px;
}
.box{
    height: 25px;
    background-color: white;
    width: 70px;
    border-radius:50px;
    display: flex;
    align-items: center;
}
.circle{
    cursor: pointer;
    transition: all 0.5s ease 0s;
    color: black;
    height: 25px;
    width: 30px;
    display:flex;
    justify-content: end;
    align-items: center;
}
.dark{
    height: 25px;
    width: 30px;
}
.isdark{
    transform: translateX(120%); 
}
.input{
    background-color: rgb(93, 75, 64);
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
    padding: 10px;
}
.input>input{
    height: 60px;
    flex-grow: 1;
    font-size: 25px;
}
.input>input::placeholder{
    color:rgb(248, 60, 60);
    text-align: center;
}
.input>input:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgb(4, 181, 4);
}
.input>button{
    height: 60px;
    padding: 0 40px;
    color: white;
    font-size: 22px;
    background-color: rgb(4, 181, 4);
}
.input>button:hover{
    color: rgb(4, 181, 4);
    background-color: white;
    box-shadow: 0 0 5px rgb(4, 181, 4);
}
.container{
    display: grid;
    min-height:calc(100vh - 155px);
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    /* background-color: rgb(91, 104, 91); */
    color: white;
    align-content: start;
}
.card{
    background-color: rgb(241, 108, 60);
    height: 100px;
    display: flex;
    max-width: 350px;
    justify-content:space-between;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    padding: 5px;
}
h3{
    overflow-y: scroll;
    flex-grow: 1;
}
.buttons{
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons>button{
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    outline: none;
    border: none;
    box-shadow:0 0 10px inset black;
    border-radius: 4px;
    background-color: rgb(77, 153, 0);
}
.buttons>button:first-child{
    background-color: red;
}
.buttons>button:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.2,1.2);
    opacity: 0.7;
}
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(47, 73, 114, 0.6);
}
.modal{
    /* position: absolute;
    top: 15%;
    left: 40%; */
    position: relative;
    display: flex;
    height: 300px;
    width: 400px;
    background-color: rgb(61, 129, 254);
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.modal textarea{
    outline: 1px blue;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}
.modal-buttons{
    display: flex;
    gap: 20px;
}
.modal-buttons>button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 19px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
}
.modal-buttons>button:nth-child(2){
    background-color: rgb(50, 48, 48);
}
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    cursor: pointer;
}
.cross:hover{
    transform: perspective(200px) rotate(90deg);
    transition:all 0.5s ease 0s;
}
.modal-buttons>button:hover{
    transform: perspective(200px) translateZ(20px);
    transition:all 0.5s ease 0s;
    background-image: linear-gradient(to left,rgba(243, 239, 239, 0.1),rgba(243, 239, 239, 0.1));
}
@media (max-width:1200px){
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:900px){
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .navbar {
        padding: 0px 10px;
    }
    .navbar img {
        height: 30px;
        width: 50px;
    }
    .navbar>div{
        font-size: 22px;
    }
    .box {
        height: 22px;
        width: 50px;
    }
    .isdark{
        transform: translateX(60%); 
    }
    .input>button{
        padding: 0;
        font-size: 16px;
    }
    .input>input{
        height: 50px;
        flex-grow: 1;
        font-size: 16px;
    }
    .modal{
        height: 300px;
        width: 300px;
    }
    .modal textarea{
        height: 80px;
        width: 200px;
    }
    .modal-buttons>button{
        font-size: 16px;
    }
}